<!DOCTYPE html>
<html>
    <head>
        <title>Exemplo</title>
        <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/custom.css">
        
    </head>
<body>
    <%- include('header') %>
    <%- include('menu') %>
    <section>
    
    <div>
        <% categorias.forEach(categoria => { %>
        <h3>
        Vagas Disponíveis:
        </h3>  
        <h3>
            <%- categoria.categoria %>    
        </h3>
        <% }) %>
        <ul>
            <h4>Tecnologia da Informação</h4>
            <li>DevOps (Remoto/Alocado)</li>
            <li><a href='vaga'>
                FullStack Developer
                </a>
            </li>
            <li>DBA Developer</li>
        </ul>
    </div>
    <h4>Recursos Humanos</h4>
    <ul>
        <li>Secretariado</li>
        <li>Office Boy</li>
        <li>Almoxarife</li>
    </ul>
</section>



<%- include('footer') %>