<!DOCTYPE html>
<html>
    <head>
        <title>Exemplo</title>
        <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/custom.css">
        
    </head>
<body>
<header>
    <a href='/'>
        <img src="images/logo.png" alt="Bomjobs">
    </a>
    <p>Painel de Vagas do Bonja</p>
</header>
<section>
    <h2>Full Stack Developer</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet explicabo, soluta accusamus culpa voluptatibus, voluptatum veritatis architecto doloremque aliquid, fuga nemo error. Blanditiis, assumenda. Ullam dolorem dolorum ab deserunt inventore?</p>
    
</section>